[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
playwright = "*"
sortedcontainers = "*"

[dev-packages]
mypy = "*"
ruff = "*"

[scripts]
format = "ruff format"
a = "python3 problems/a.py"
b = "python3 problems/b.py"
c = "python3 problems/c.py"
d = "python3 problems/d.py"
e = "python3 problems/e.py"
f = "python3 problems/f.py"
g = "python3 problems/g.py"
h = "python3 problems/h.py"
test = "python3 clis/test.py"
download = "python3 clis/download.py"
download2 = "python3 clis/download2.py"
