[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
playwright = "*"
sortedcontainers = "*"

[dev-packages]
mypy = "*"
ruff = "*"

[scripts]
format = "ruff format"
unittest = "python3 -m unittest discover -v tests"
login = "python3 -m clis.commands.login"
download = "python3 -m clis.commands.download"
run = "python3 -m clis.commands.run"
test = "python3 -m clis.commands.test"
