[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
ruff = "*"

[scripts]
format = "ruff format"
a = "python3 problem/a.py"
b = "python3 problem/b.py"
c = "python3 problem/c.py"
d = "python3 problem/d.py"
e = "python3 problem/e.py"
f = "python3 problem/f.py"
g = "python3 problem/g.py"
h = "python3 problem/h.py"
